__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
.DS_Store
.env*
.coverage*
*.egg-info/
dist/
build/
site-packages/
node_modules/
.venv/
coverage/
tmp/
data/
logs/

#Ignore cursor AI rules
.cursor/rules/codacy.mdc
