jetstream:
  enabled: true
fileStorage:
    enabled: true
    size: 20Gi
    storageClassName: gp2
natsBox:
  enabled: true
resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1Gi
service:
  type: ClusterIP