apiVersion: eksctl.io/v1alpha5
kind: ClusterConfig
metadata:
  name: agentforge-demo
  region: us-east-1

managedNodeGroups:
  - name: gpu2
    instanceTypes: ["g6.xlarge","g5.xlarge","p3.2xlarge"]
    desiredCapacity: 1
    minSize: 0
    maxSize: 3
    availabilityZones: ["us-east-1a","us-east-1b","us-east-1c"]
    capacityType: ON_DEMAND
    volumeSize: 100
    labels: { nodeclass: gpu }
    taints:
      - key: "gpu"
        value: "true"
        effect: "NoSchedule"
